@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

html{
    font-size: 10px;
}

/*======MAIN-PAGE START======*/
/*======NAVBAR START======*/
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: inline-block;
    margin: 2% 3%;
    font-size: 2rem;
    font-weight: 700;
}

.navbar-links{
    display: inline-block;
    width:auto;
    height: auto;
    margin: 2% 3%;
}

.navbar-links ul li{
    float: right;
    list-style-type: none;
}

.navbar-links ul li a{
    color: black;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    transition: 1s;
}

.Home{
    text-decoration: underline 2px;
}


.navbar-links ul li a:hover{
    text-decoration: underline 2px;
}
/*======NAVBAR FINISH======*/

/*======SOCIAL MEDIA START======*/
.social-media{
    margin-top: 20rem;
    position: fixed;
}

.fa-brands{
    color: black;
    font-size: 3rem;
    margin: 2rem 0 0 5rem;
    transition: .2s;
}

.fa-instagram:hover{
    color: pink;
}

.fa-linkedin:hover{
    color: blue;
}

.fa-twitter:hover{
    color: aqua;
}
/*======SOCIAL MEDIA FINISH======*/

/*======MAIN-PAGE-CONTAINER START======*/
.main-page-container{
    width: 80%;
    height: 60rem;
    margin: 2% 5% 5% 15%;
}

.main-page-container h1{
    display: inline-block;
    margin: 17rem 6rem 2rem 16rem;
    font-size: 3rem;
    font-weight: 500;
    word-spacing: .2;
    letter-spacing: .2;
}

.main-page-container h2{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 16rem;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.main-page-container img{
    width: 255px;
    height: auto;
    border-radius: 50%;
    float: left;
    margin: -21rem 0 0 70rem;
}

.main-page-container p{
    font-size: 2rem;
    width: 30%;
    height: auto;
    margin: 2rem 0 0 16rem;
}

.main-page-container a:hover{
    color: red;
}

/*======MAIN-PAGE-CONTAINER FINISH======*/
/*======MAIN-PAGE FINISH======*/

/*======MAIN-PAGE START======*/
/*======SECOND-PAGE-CONTAINER START======*/

.second-page-container h1{
    margin: 10% 0% 0.45% 5%;
    font-size: 3.25rem;
}

.second-page-container hr{
    color: black;
    margin: 0 5% 0% 5%;
    border: none;
    border-top: 2px solid black;
    border-radius: 50%;
}

.second-page-container p{
    width: 50%;
     color: black;
    font-size: 2rem;
    font-weight: 500;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin: 15% 5% 65rem 42.5%;
}

.second-page-container img{
    width: 400px;
    height: auto;
    float: left;
    margin: 5% 0 0 10%;
    border-radius: 15%;
}
/*======SECOND-PAGE-CONTAINER FINISH======*/
/*======MAIN-PAGE FINISH======*/
